/* Tree view styles. */
.tree-view {
    position: relative;
    margin: 0;
    padding-left: 1rem;
}

.tree-view li {
    list-style-type: none;
    padding: 0;
}

.tree-view [role="button"] {
    cursor: pointer;
}

.tree-view [role="button"] {
    display: list-item;
    list-style-type: circle;
}

.tree-view [role="button"][aria-expanded="true"] {
    list-style-type: disc;
}

.tree-view li > div {
    display: contents;
}